.adminReservation{
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    
    .content-table thead tr {
        background-color: #DAC0A3;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }
    
    .content-table th,
    .content-table td {
        padding: 22px;
    }
    
    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    
    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #DAC0A3;
    }
    
    .content-table tbody tr.active-row {
        font-weight: bold;
    }

    .activeBtn{
        outline: none;
        background-color: limegreen;
        padding: 6px 12px;
        border-radius: 7px;
        border: 1px solid limegreen;
        color: white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: all .3s ease-in-out;

        &:hover{
            scale: 1.1;
            cursor: pointer;
            background-color: lime;
        }
        
    }
    .deactiveBtn{
        outline: none;
        background-color: rgba(255, 0, 0, 0.605);
        padding: 6px 12px;
        border-radius: 7px;
        border: 1px solid rgba(255, 0, 0, 0.605);
        color: white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: all .3s ease-in-out;

        &:hover{
            scale: 1.1;
            cursor: pointer;
            background-color: red;
        }
    }
}
