.adminBloq {
  padding-left:  20px;
  h4 {
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
  }
  .tableContent {
    .progressBar {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .createNewBtn {
      padding-bottom: 7px;
      button {
        padding: 4px 6px;
      }
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      button {
        padding: 4px 8px;
        margin: 0 1px;
        font-size: 20px;
      }
    }
  }
}
