.mainEditModal {
    &::after{
        content: '';
        background-color: rgba(0, 0, 0, 0.719);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
  .editModal {
    border-radius: 12px;
    z-index: 2;
    background-color: #2A3447;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-10%, -50%);
    padding: 30px;

    form{
      display: flex;
      flex-direction: column;
      gap: 30px;

      .imgagesFiles{
        display: flex;

        h3{
          margin-bottom: 20px;
        }

        img{
          width: 100px;
          height: 100px;
        }
      }
    }

    button{
        outline: none;
        padding: 12px;
        border-radius: 7px;
        border: 2px solid #DAC0A3;
        background-color: #DAC0A3;
        color: white;
        font-size: 16px;
        transition: all .3s ease-in-out;

        &:hover{
          border: 2px solid white;
          color: #DAC0A3;
          background-color: white;
          cursor: pointer;
          box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        }
      }


    textarea {
      border-radius: 12px;
      padding: 20px;
      font-size: 17px;
      outline: none;
      height: 150px;
    }


    .closeModal{
        position: absolute;
        top: 7px;
        right: 7px;
        font-size: 22px;
        cursor: pointer;
    }
  }
}
