.mainEditModal1 {
  .after {
    background-color: rgba(0, 0, 0, 0.719);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .editModal {
    border-radius: 12px;
    z-index: 2;
    background-color: #2a3447;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-10%, -50%);
    padding: 30px;

    textarea{
      padding: 22px;
      border-radius: 12px;
      outline: none;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1px;
      height: 150px;
    }

    button{
      border-radius: 12px;
      padding: 15px;
      font-size: 17px;
      transition: all .3s ease-in-out;

      &:hover{
        background-color: rgb(255, 212, 155);
        cursor: pointer;
        color: white;
      }
    }

  }
}
